html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: grid;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo img {
  grid-column: 1/-1;
  grid-row: 1/-1
}

.pano img {
  grid-column: 1/-1;
  grid-row: 1/-1;
}
