html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  display: contents;
  grid-area: header;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "header header"
    "header header"
    "figure figure";
}

main {
  display: grid;
  gap: 1rem;
  grid-area: figure;
  grid-template-columns: 1fr 1fr;
}

ul {
  display: flex;

}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.logo {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.pano {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
